---
import Layout from "@/layouts/Layout.astro";
import QuenSomos from "./quenSomos.astro";
import Xogadores from "./xogadores.astro";
---

<Layout title="Hola">
  <main>
    <QuenSomos />
    <Xogadores />
  </main>
</Layout>
