---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Hola">
  <main>Hola Lorcho
    <img src="../images/escudoOptimizado.png" alt="Escudo GB Lorchos" class="animate-zoom-in" loading="eager" />
  </main>
</Layout>
