---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hola">
  <main>
	<h1 class="text-pink-200 animate-spin-clockwise">Hola, holita</h1>
    <p class="text-pink-200 animate-jump">
      GB Lorchos é o primeiro e único equipo de fútbol gaélico na comarca do
      Barbanza
    </p>
  </main>
</Layout>
