---

---

<section class="bg-background h-screen" id="quenSomos">
  <div class="flex flex-row h-full">
    <div class="relative group flex-1">
      <img
        src="../images/inicioLorchos.jpeg"
        alt="Primeiros Lorchos nunha foto"
        class="w-full h-full object-cover transition-opacity duration-500 ease-in-out opacity-20 group-hover:opacity-100"
        id="inicio"
      />
      <div
        class="absolute inset-0 bg-gray-700 opacity-70 rounded transition-opacity duration-500 ease-in-out group-hover:opacity-0"
      >
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center pointer-events-none"
      >
        <h2 class="text-white text-3xl font-bold">
          As andaduras comezaron en agosto de 2023
        </h2>
      </div>
    </div>

    <div class="relative group flex-1">
      <img
        src="../images/estrada.jpg"
        alt="Primeiro torneo dos Lorchos"
        class="w-full h-full object-cover transition-opacity duration-500 ease-in-out opacity-20 group-hover:opacity-100"
        id="estrada"
      />
      <div
        class="absolute inset-0 bg-gray-700 opacity-70 rounded transition-opacity duration-500 ease-in-out group-hover:opacity-0"
      >
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center pointer-events-none"
      >
        <h2 class="text-white text-3xl font-bold">Éramos poucos...</h2>
      </div>
    </div>

    <div class="relative group flex-1">
      <img
        src="../images/entrenoLorcheiro.jpg"
        alt="Un dos primeiros entrenamentos dos Lorchos"
        class="w-full h-full object-cover transition-opacity duration-500 ease-in-out opacity-20 group-hover:opacity-100"
        id="entrenamento"
      />
      <div
        class="absolute inset-0 bg-gray-700 opacity-70 rounded transition-opacity duration-500 ease-in-out group-hover:opacity-0"
      >
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center pointer-events-none"
      >
        <h2 class="text-white text-3xl font-bold">
          ...e non coñeciamos case nada do deporte
        </h2>
      </div>
    </div>
  </div>
</section>
