---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Navigation from "@/sections/Navigation.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="Somos Lorchos!">
    <Header />
    <Navigation />
    <p>Somos Lorchos!</p>
    <Footer/>
</Layout>