---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Somos Lorchos!">
  <!-- First Section -->
  <section class="bg-gray-300 flex flex-row items-center">
    <h1 class="underline font-bold">Fútbol gaélico no Barbanza</h1>
    <p>
      O Galicia Bealo Lorchos é o primeiro e único equipo de fútbol gaélico na
      comarca do Barbanza.
    </p>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
  </section>

  <!-- Second Section -->
  <section class="bg-background flex flex-row items-center">
    <img src="../images/inicioLorchos.jpeg" alt="Bandeira Lorcheira" class="max-w-md p-7" />
    <p>As andaduras comezaron en agosto de 2023. Éramos poucos e non coñeciamos case nada do deporte</p>
    <h1 class="underline font-bold">Somos lorchos!</h1>

  </section>
</Layout>

<script src="../scripts/slider.js"></script>