---
const { buttonName } = Astro.props;
---

<button
  class="relative inline-block text-white bg-blue-400 hover:bg-gray-900 px-4 py-3 text-sm leading-5 cursor-pointer transition-colors duration-500 ease-in-out font-semibold lg:text-xl"
  role="button"
>
  <span>{buttonName}</span>
</button>

<!-- https://getcssscan.com/css-buttons-examples -->
