<footer class="w-full border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-10 pb-20 text-center" transition:animate="none">
  <span> Lorchos Footer</span>
  <ul class="flex flex-row gap-x-6 items-center">
    <li>
      <a class="hover:scale-125 hover:opacity-75 transition inline-block" href="https://chat.whatsapp.com/Bp46QOLIlnLAzHkPUbrCa6">
        <img alt="Whatsapp Enlace" src="./icons/whatsappSVG.svg" loading="lazy" />
      </a>
    </li>
    <li>
      <a class="hover:scale-125 hover:opacity-75 transition inline-block" href="https://www.facebook.com/lorchosgaelicos/">
        <img alt="Facebook Enlace" src="./icons/facebookSVG.svg" loading="lazy" />
      </a>
    </li>
    <li>
      <a class="hover:scale-125 hover:opacity-75 transition inline-block sticky" href="https://www.instagram.com/gb.lorchos/">
        <img alt="Instagram Enlace" src="./icons/instagramSVG.svg" loading="eager" />
      </a>
    </li>
  </ul>
</footer>
