---
import Navigation from "@/components/Navigation.astro";
---

<header
  class="bg-blue-400 flex flex-row sticky top-0 z-50 border-b border-black w-full"
>
  <!-- Pantallas grandes -->
  <div class="hidden sm:flex w-5/12 flex-none items-center justify-center">
    <img
      src="../images/escudoOptimizado.png"
      alt="Escudo GB Lorchos"
      class="w-5/12"
      loading="eager"
    />
    <div class="mx-auto text-center">
      <h1 class="text-white text-lg lg:text-2xl font-bold">
        Fogar do Galicia Bealo Lorchos
      </h1>
    </div>
  </div>
  <div class="hidden sm:flex flex-1">
    <Navigation />
  </div>

  <!-- Pantallas pequenas -->
  <div class="flex sm:hidden flex-1 items-center justify-center">
    <img
      src="../images/escudoOptimizado.png"
      alt="Escudo GB Lorchos"
      class="w-2/12"
      loading="eager"
    />
    <Navigation />
  </div>
</header>
