---
import { Image } from 'astro:assets';
import escudo from '../images/escudoOptimizado.png';
---

<section>
  <Image src={escudo} alt="Escudo GB Lorchos" class="object-cover" loading="eager"/>
</section>
