<nav>
    <ul class="flex flex-row justify-center space-x-48" id="navList">
        <li><a href="">Quen somos?</a></li>
        <li><a href="">Xogadores</a></li>
        <li><a href="">Tenda</a></li>
        <li><a href="">Fútbol gaélico en Galiza</a></li>
    </ul>
</nav>